{% extends 'base.html.twig' %}

{% block title %}Carrière{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset("assets/css/career.css")}}">{% endblock %}
{% block body %}
<div class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mb-3">
                <h4 class="text-primary">Trouver le poste de vos rêves</h4>
                <p class="text-secondary" style="text-align: justify;">Travailler dans une ambiance de convivialité et de respect, soif de perpétuel développement et de nouveau challenge, ayant l’esprit d’équipe, honnête et rigoureux, vous nous intéressez !</p>
                <h4 class="text-center text-primary mt-5">Travailler chez Médical International SARL</h4>
                <p class="text-center text-secondary">Évoluer dans un environnement stimulant et respectueux du bien-être de chaque employé.</p>
                <h4 class="text-center text-primary mt-5">Nos Valeurs</h4>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="item"><span class="icon feature_box">
                    <i class="bi bi-link"></i></span>
                    <h6>Creative </h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="item"><span class="icon feature_box">
                    <i class="bi bi-globe2"></i></span>
                    <h6>Modern </h6><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="item"><span class="icon feature_box">
                    <i class="bi bi-hourglass-split"></i></span>
                    <h6>Strategy </h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12 mb-3">
                <h4 class="text-center text-primary">On Recrute : </h4>
            </div>
            {% for career in careers %}
                <div class="col-md-4 col-sm-12">
                    <div class="card border-info" style="width: 18rem;">
                        <div class="card-body">                   
                            <h5 class="card-title"><i class="bi bi-x-diamond-fill"> {{career.nom}} </i></h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Publié le {{career.date | date('d/m/Y')}}</h6>
                            <p class="card-text">En CDI </p>
                            <a href="{{asset("assets/images/"~career.image)}}" class="btn btn-primary">Détails</a>
                            <a href="{{path('post')}}" class="btn btn-primary">Postulez</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}