{% extends 'base.html.twig' %}

{% block title %}Médicaux{% endblock %}

{% block body %} 
    <div class="p-3">
        {% for i in 0.. cats| length - 1 %}
            {% if (i<3) %} 
                <div class="row my-3">
                    <div class="col-md-6">
                        <a href="{{path('id_produit',{'id': cats[i].Nom})}}">
                        <h2 class="text-primary">
                            <span style="font-size: 20px;"> {{cats[i].Nom}} </span>
                        </h2></a>
                        <div class=" text-secondary" style="text-align: justify;">
                            {{cats[i].Description}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="{{asset("assets/images/"~cats[i].image)}}" alt="{{cats[i].nom}}" class="img img-fluid" >
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}