 <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">A Propos</a>
     <div class="dropdown-menu">
         <a class="dropdown-item" href="{{path('aboutUs')}}">Medical International</a>
         <a class="dropdown-item" href="{{path('quality')}}">Qualité</a>
     </div>
 </li>
 <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Nos Produits
     </a>
     <ul class="dropdown-menu">
         <li class="dropend">
             <a class="dropdown-item dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown" href="#">Médicaux</a>
             <ul class="dropdown-menu">
                 <li class="dropend">
                     <a class="dropdown-item dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown" href="#">Consommables Médicaux</a>
                     <ul class="dropdown-menu">
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Consommables Médicaux','scat': 'Cardiologie' })}}">Cardiologie</a>
                         </li> 
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Consommables Médicaux','scat': 'Dialyse' })}}">Dialyse</a>
                         </li>                        
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Consommables Médicaux','scat': 'Gammes Blanches' })}}">Gammes Blanches</a>
                         </li>                         
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Consommables Médicaux','scat': 'Général' })}}">Général</a>
                         </li>
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Consommables Médicaux','scat': 'Neurochirurgie' })}}">Neurochirurgie</a>
                         </li>                         
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Consommables Médicaux','scat': 'Orthèse' })}}">Orthèse</a>
                         </li>                         
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Consommables Médicaux','scat': 'Sondes' })}}">Sondes</a>
                         </li>                         
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Consommables Médicaux','scat': 'Sutures' })}}">Sutures</a>
                         </li>
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Consommables Médicaux','scat': 'Traumatologie' })}}">Traumatologie</a>
                         </li>
                     </ul>
                 </li>                 
                 <li class="dropend">
                     <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Equipements Médicaux</a>
                     <ul class="dropdown-menu">
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Equipements Médicaux','scat': 'Accessoires' })}}">Accessoires</a>
                         </li>
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Equipements Médicaux','scat': 'Appareillages' })}}">Appareillages</a>
                         </li>
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Equipements Médicaux','scat': 'Instrumentations' })}}">Instrumentations</a>
                         </li> 
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Equipements Médicaux','scat': 'Mobiliers Médicaux' })}}">Mobiliers Médicaux</a>
                         </li>                        
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Equipements Médicaux','scat': 'Petits Matériels' })}}">Petits Matériels</a>
                         </li>
                     </ul>
                 </li>
                 <li class="dropend">
                     <a class="dropdown-item dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown" href="#">Laboratoires Médicaux</a>
                     <ul class="dropdown-menu">
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Laboratoires Médicaux','scat': 'Appareillages' })}}">Appareillages</a>
                         </li>
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Laboratoires Médicaux','scat': 'Bactériologie' })}}">Bactériologie</a>
                         </li> 
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Laboratoires Médicaux','scat': 'Biochimie' })}}">Biochimie</a>
                         </li> 
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Laboratoires Médicaux','scat': 'Consommables' })}}">Consommables</a>
                         </li>
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Laboratoires Médicaux','scat': 'Hématologie et Coagulation' })}}">Hématologie et Coagulation</a>
                         </li> 
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Laboratoires Médicaux','scat': 'Immunologie' })}}">Immunologie</a>
                         </li>                 
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Laboratoires Médicaux','scat': 'Petits Matériels et Accessoires' })}}">Petits Matériels et Accessoires</a>
                         </li>
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Laboratoires Médicaux','scat': 'Produits Chimiques et Colorants' })}}">Produits Chimiques et Colorants</a>
                         </li>
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Laboratoires Médicaux','scat': 'Tests de Diagnostics Rapides' })}}">Tests de Diagnostics Rapides</a>
                         </li>
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Laboratoires Médicaux','scat': 'Verrerie' })}}">Verrerie</a>
                         </li>
                     </ul>
                 </li>             
             </ul>
         </li>
         <li class="dropend">
             <a class="dropdown-item dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown" href="#">Labotech</a>
             <ul class="dropdown-menu">
                 <li>
                     <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Labotech','scat': 'Accessoires' })}}">Accessoires</a>
                 </li>             
                 <li>
                     <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Labotech','scat': 'Consommables' })}}">Consommables</a>
                 </li>
                 <li>
                     <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Labotech','scat': 'Equipements' })}}">Equipements</a>
                 </li>
                 <li>
                     <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Labotech','scat': 'Petits Appareillages' })}}">Petits Appareillages</a>
                 </li>
                 <li>
                     <a class="dropdown-item" href="{{path('find_produit',{'cat': 'Labotech','scat': 'Produits Chimiques' })}}">Produits Chimiques</a>
                 </li>
             </ul>
         </li>
     </ul>
 </li>
 <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nos Services</a>
     <ul class="dropdown-menu">
         <li class="dropend">
             <a class="dropdown-item dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown" href="#">SAV et Service Technique</a>
             <ul class="dropdown-menu">
                 <li class="dropend">
                     <a class="dropdown-item dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown" href="#">Produits</a>
                     <ul class="dropdown-menu">
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'SAV et Service Technique','scat': 'Consommables Techniques' })}}">Consommables Techniques</a>
                         </li>
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'SAV et Service Technique','scat': 'Pièces de Rechange' })}}">Pièces de Rechange</a>
                         </li>
                         <li>
                            <a class="dropdown-item" href="{{path('find_produit',{'cat': 'SAV et Service Technique','scat': 'Produits Désinfectants' })}}">Produits Désinfectants</a>
                         </li>
                     </ul>
                 </li>
                 <a class="dropdown-item" href="{{path('service')}}">Services</a>
             </ul>    
             <a class="dropdown-item" href="{{path('metrocal')}}">Métrologie et Calibration</a>
         </li>
     </ul>
 </li>