<Header class="sticky-top">
    <div class="container-fluid d-flex justify-content-between align-items-center bg-body-tertiary p-2">
        <a href="{{path('home')}}">
            <img src="{{ asset("Images/Medical-international-4.png") }}" alt="logo-mi" class="img-fluid" style="width: 200px;">
        </a>
        {% include 'partials/nav.html.twig' %}
        <div class="d-md-flex justify-content-end">
            <div class="d-flex flex-row justify-content-end">
                <a class="nav-link rechercher" href="#"><i class="bi bi-search"></i></a>
                <a class="nav-link theme" href="#"><i class="bi iconTheme ms-3"></i></a>
                <div class="hamburger ms-3" id="navbarSideCollapse">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <div class="dropdown ms-3">
                    <a class="dropdown-toggle nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-fill"></i>
                    </a>
                    {% if not app.user %}
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li><a class="dropdown-item" href="{{path('security_login')}}">Se Connecter</a></li>
                        </ul>
                    {% else %}
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li><a class="dropdown-item" href="{{path('security_logout')}}">Se Déconnecter</a></li>
                            {% if is_granted('ROLE_ADMIN') %}                                
                                <li><a class="dropdown-item text-bold" href="{{path('admin_product_index')}}">Administration</a></li>                                
                            {% endif %}
                            {% if app.user.isVerified == false %}                                
                                <li><a class="dropdown-item text-bold" href="{{path('resend_verify')}}">Activer mon compte</a></li>                           
                            {% endif %}
                            <li><hr class="dropdown-divider"/></li>
                            <li class="text-center"> {{ app.user.email }} </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="ms-3">
                <a href="{{path('cat_produit',{'id': 'Labotech' })}}"><img src="{{asset("Images/labotech logo.jpg")}}" alt="logo-lab-md" class="img-fluid" style="width: 200px;"></a>
            </div>
        </div>
    </div>
    <div class='container d-none p-2' id="search">
        <form action="{{path('search_produit')}}" method="post">
            <div class="input-group">
                <input name="mots" type="text" class="form-control" placeholder="Rechercher..." aria-label="Search" aria-describedby="basic-addon1">
                <button type="submit" class="input-group-text" title="search" id="basic-addon1"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>
</Header>