{% extends 'admin.html.twig' %}

{% block title %}Listes des Commandes{% endblock %}
{% block body %}
        <div class="card my-2">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Listes des Commandes
            </div>
            <div class="card-body">
                <Table class="table table-hover table-bordered" id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>id</th>                          
                            <th>Date</th>
                            <th>Info client</th>
                            <th>Prix Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for commande in commandes %}
                                <tr>
                                    <th scope="row">{{commande.id}}</td>
                                    <td>{{commande.CreatedAt | date('d/m/Y \\à H:i') }} </td>
                                    <td> Adresse mail: {{commande.user.Email}} <br>
                                         Adresse de livraison: {{commande.user.Adress}} <br>
                                         Téléphone: {{commande.user.PhoneNumber}}
                                    </td>                                    
                                    <td>{{commande.Total}} AR</td>
                                    <td class="col-md-4">
                                        <a href="{{path('admin_commande_details',{'id':commande.id})}}" class="btn-sm m-2">
                                        <i class="fas fa-list"></i></a>                                        
                                        <a href="{{path('admin_commande_delete',{'id':commande.id})}}" class="btn-sm btn-del m-2">
                                        <i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                    </tbody>
                </Table>
            </div>
        </div>
{% endblock %}