{% extends 'admin.html.twig' %}

{% block title %}Détails du Commandes{% endblock %}
{% block body %}
        <div class="container py-3">
            <div class="row">
                <h1>Détails de la Commande</h1>
                <Table class="table">
                        <thead>
                            <tr>
                                <th scope="col-4">Produit</th>
                                <th scope="col-4">Quantité</th>
                                <th scope="col-4">Prix</th>
                                <th scope="col-4">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for commande in commandes %}
                            <tr>
                                <td>{{commande.produits.Titre}}</td>
                                <td>{{commande.Quantity}}</td>
                                <td>{{commande.produits.Prix}} AR</td>
                                <td>{{commande.Total}} AR</td>      
                            </tr>
                            {% endfor %}
                        </tbody>
                 </Table>
                 <a href="{{path('admin_commande_index') }}" class="btn btn-secondary btn-sm">
                 <i class="fa fa-chevron-left"></i> retourner vers la liste des commandes </a>
            </div>
        </div>    
{% endblock %}