{% extends 'admin.html.twig' %}

{% block title %}Listes des Produits{% endblock %}
{% block body %}

        {% include 'admin/_modal.html.twig'%}
        <div class="card my-2">
            <div class="card-header">
                <i class="bi bi-table fs-5 me-1"></i>
                Listes des Produits              
            </div>
            <div class="card-body">
                <Table class="table table-hover table-bordered" id="datatablesSimple">
                <a href="{{path('admin_product_add')}}" class="btn btn-sm btn-success mb-2"><i class="bi bi-plus-lg"></i> Nouveau Produit</a>
                    <thead>
                        <tr>
                            <th>Référence</th>                          
                            <th>Nom</th>
                            <th>Image</th>
                            <th>Prix</th>
                            <th>Catégories</th>
                            <th>Sous-Catégories</th>
                            <th>Déscription</th>
                            <th class='text-center'>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for produit in produits %}
                                <tr>
                                    <td>{{produit.reference}}</td>
                                    <td>{{produit.nom}}</td>
                                    <td> <img src="{{asset("assets/images/"~produit.image)}}" alt="{{produit.nom}}" style="max-height:120px;max-width:60px;" class="img img-fluid"></td>
                                    <td>{{produit.prix}} AR</td>
                                    <td>{{produit.sousCategory.category.nom}}</td>
                                    <td>{{produit.sousCategory.nom}}</td>
                                    <td>{{produit.description}}</td>
                                    <td class='text-center'>
                                        <a href="{{path('admin_product_edit',{'id':produit.id})}}" class="btn-sm edit m-2">
                                        <i class="bi bi-pencil-square fs-5 text-warning"></i></a>
                                        <a href="{{path('admin_product_delete',{'id':produit.id})}}" class="btn-sm m-2">
                                        <i class="bi bi-trash-fill fs-5 text-danger"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                    </tbody>
                </Table>
            </div>
        </div>
{% endblock %}