{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <div class="p-3">
        <div class="btn-group col-sm-12 btn-group pb-1" role="group" aria-label="button group">
            <a href="{{path('id_actu',{'id': 'Réalisations' })}}" class="btn btn-primary {% if a == "Réalisations" %} active {% endif %}">Réalisations</a>
            <a href="{{path('id_actu',{'id': 'Evénement' })}}" class="btn mx-1 btn-primary {% if a == "Evénement" %} active {% endif %}">Evénements</a>
            <a href="{{path('id_actu',{'id': 'Promotion' })}}" class="btn btn-primary {% if a == "Promotion" %} active {% endif %}">Promotion</a>
        </div>
        <div class="row">
            {% for actu in actus %}
                <div class="col-md-6 col-sm-12">
                    <div class="card mb-3" style="max-width: 640px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <a href="{{vich_uploader_asset(actu,'imageFile')}}">
                                <img src="{{vich_uploader_asset(actu,'imageFile')}}" class="img-fluid rounded-start" alt="{{actu.nom}}"></a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{actu.nom}}</h5>
                                    <p class="card-text">{{actu.description}}</p>
                                    <p class="card-text"><small class="text-body-secondary">Le {{actu.date | date('d/m/Y')}}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
